.header{
  text-align: center;
  background-color:#ccffcc;
  width:100%;
  position: fixed;
  height:60px;
  top: 0;
  left:0;
  z-index: 10;
}
.title {
    color: #134d00;
    margin-top:0px;
    margin-bottom:-20px;
    font-size:30px;
}
.top-1 p{
    padding-bottom:5px;
    margin-bottom:0px;
    font-size:13px;
}

body{
  margin:0 auto;
  box-sizing: border-box;
  margin:0px auto;
  background-color:#ccEEcc;
}
.main-1{
  max-width: 900px;
  width:100%;
  margin:0px auto;
  padding-top:70px;
}
.pu2peshi{
  width:50%;
  float:left;
  text-align:center;
  margin:0px;
}

.contents-menu{
  width:50%;
  float:left;
}
.contents{
  text-align:center;
  width:50%;
  position:relative;
  float:left;
}
.contents-li{
  opacity:0.5;
}
.contents-icon{
  width:70%;
  margin:0px;
}
.contents p{
  writing-mode: vertical-rl;
  color:white;
  font-size:100%;
}
.tanka{
  position: absolute;
  top:50%;
  left:50%;
  margin:0;
  transform: translate(-50%,-50%);
}
.oisii{
  position: absolute;
  top:50%;
  left:50%;
  margin:0;
  transform: translate(-50%,-50%);
}
.piment{
  position: absolute;
  top:50%;
  left:50%;
  margin:0;
  transform: translate(-50%,-50%);
}
.twitter{
  position: absolute;
  top:50%;
  left:50%;
  margin:0;
  transform: translate(-50%,-50%);
}
.contents-li:hover{
  opacity:1;
}
.clear{
  clear:left;
}
