html{
	touch-action: manipulation;
}

body{
	width:80%;
	max-width: 640px;
	margin: 0 auto;
}

h1{
	font-size: calc(100% + 0.5vw);
	margin-bottom: 10px;
}
h6{
	font-size: calc(50% + 0.5vw);
	margin-top:10px;
}
.button_r{
	width:100%;
}
.row{
	display: flex;
	width: 100%;
}

.col{
	padding: 5px;
	vertical-align: top;
	border:1px  solid #DDD;
	font-size: calc(50% + 0.5vw);

}

button{
	width: 80%;
}

.title{
	width: 50%;
}
.price{
	width: 20%;
	text-align: center;
}
.count{
	width: 10%;
	text-align: center;
}
.button_p{
	width: 10%;
	text-align: center;
}
.button_m{
	width: 10%;
	text-align: center;
}
